# Data Storytelling with Educational Data

## Student Performance in Exams

#### Purpose/Question:

For this exercise I will be using the data from: https://www.kaggle.com/datasets/spscientist/students-performance-in-exams to analyze: 
>__How do various factors affect/influence student performance?__

Importing libraries:

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Exploring the data:

In [7]:
df = pd.read_csv('C:/Users/niniw/Documents/Data Storytelling Exercise/StudentsPerformance.csv')

In [8]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

__Factors:__
<br>1) Gender
<br>2) Race/Ethnicity
<br>3) Parental level of education
<br>5) Lunch Program
<br>6) Test Preparation Course